<section>
    <div class="card mb-3 w-90 pt-5 px-5">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/deshpandesir.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Principal's View</h5>
                    <p>The success of an Institute lies in its Professionalism, Proficiency, Productivity and
                        Planning. This
                        reflects in the Institute’s ethos towards building a Society that is vibrant and growing
                        through
                        knowledge- sharing and zeal for creativity.</p>
                    <p>All our efforts are pooled to transform HSC (10+2 category) students into Engineers (in 4
                        years
                        duration) with Leadership qualities, Interpersonal skills and sound Moral values. We want
                        our
                        scholars to grow as integrated individuals with commitment to their goals and concern for
                        the
                        Environment and the Society.</p>
                    <p>SKNCOE has consistently produced excellent results and our alumni are present in reputed
                        organizations in India & Overseas. From academic excellence to cultural development, we
                        provide a
                        hospitable environment with up-to-date infrastructure for a rewarding, purposeful and
                        enjoyable
                        student life.</p>
                    <p>Being a Premier Education Institute our endeavor is to harness the innate potential in the
                        Youths and
                        fulfill their needs for higher technical education. We intend to grow and expand into a
                        Technological Institute having National recognition. To achieve this, we ensure that the
                        facilities
                        are state-of-the-art, teaching Faculty members are the best and that they focus on Academic
                        excellence & Personality development of the student fraternity. The Management is dedicated
                        to
                        create excellence in the field of education and hence motivate the learners in their quest
                        for
                        innovations.</p>
                    <p>Wish you all – Every Success & Bright Future. </p>

                    <p class="text-bold"><b>-Dr. A. V. Deshpande</b></p>
                    <p class="text-bold"><b>Principal, SKNCOE, Pune</b></p>
                </div>
            </div>
        </div>
    </div>
</section>